.container {
  margin: auto;

  width: 20vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  color: rgb(63, 96, 125);
  border: 2px solid black;
  align-items: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  position: relative;
}
.inner_container {
  display: flex;
  margin: auto;
  position: relative;
}
.song_description {
  font-size: 1.4vw;
}
.card_img {
  margin-top: 20px;
  width: 18vw;
  height: 18vh;
  position: relative;
  z-index: -1;
}
.play-icon {
  position: absolute;
  top: 45%;
  right: 12%;
  transform: translateY(10px);
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.4));
  opacity: 0;
  transition: all 0.4s;
}

.container:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
}
.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: green;
  display: grid;
  place-items: center;
  transform: scale(0.95);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid black;
  transform: rotate(90deg);
  margin-left: 0.2rem;
}

.play-icon:hover .circle {
  cursor: auto;
  transform: scale(1);
}
