.container_cards {
  position: relative;
}

.cards {
  border: 2px solid black;
  margin-left: 20px;
  box-shadow: 4px 4px 4px 4px;
  text-align: center;
  justify-content: center;
}
.cards:hover {
  background-color: rgb(55, 55, 43);
  transform: scale(1.1);
}
